body{
  background: rgb(80, 74, 75);
  width: 100%;
  font-family: 'Space Mono', monospace;
}
.constr{
  margin: 5px;
  background: rgb(129, 123, 124);
  color: rgb(71, 70, 68);
  font-family: 'Space Mono', monospace;
  margin-right: 6px;
}
.content img{
   padding-top: 5px;
   padding-left: 5px;
   width: 250px;
   height: 250px
}
.content{
  padding: 5px;
}
.content p{
  font-weight: 700;
}

.p1 h2{
  font-weight: 500; 
  margin-left: 3px;
}
.p1 p{
  margin-left: 3px;
  font-weight: 200;
}

.header{
  height: 80px; 
   background: rgb(92, 91, 91); 
   width: 100%; 
   text-align: center;
   border: solid 2px;
}
.header h1{
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  padding-top: 10px;
}

.p1{
  background: rgb(85, 83, 83);
  color: rgba(173, 174, 192, 0.733);
}

.col-auto input{
  background-color: rgb(48, 46, 46);
  color: rgba(173, 174, 192, 0.733);
}
.col-auto button{
  background-color: rgb(48, 46, 46);
  color: rgba(173, 174, 192, 0.733);
  border: solid 3px black; 
}
.outp output{
  background-color: rgb(48, 46, 46);
  color: rgba(173, 174, 192, 0.733);
}

.calc1{
  background: rgb(129, 123, 124);
  margin: 5px;
}

.calc2{
  background: rgb(129, 123, 124);
  margin: 5px;
}

.calc2 input{
  background-color: rgb(48, 46, 46);
  color: rgba(173, 174, 192, 0.733); 
}

.calc2 select{
  background-color: rgb(48, 46, 46);
  color: rgba(173, 174, 192, 0.733);
}
.calc2 option{
  background-color: rgb(48, 46, 46);
  color: rgba(173, 174, 192, 0.733);
}

.footer{
  width: 100%;
  background-color: rgb(70, 66, 66);
  box-shadow: 10px 10px 10px 5px rgba(57, 58, 57, 0.5);
}
.footrow{
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.foottext{
  font-size: 15px;
  letter-spacing: 0.4px;
}

#gallery{
  color: rgba(0, 0, 0, 0.678);
}

.сontainer__gallery{
  background: rgb(129, 123, 124);
  margin: 5px;
}

.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}


/* Конкретный слайдер */
.slider {
	position: relative;
	padding: 0px 60px;
}


.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 28px;
	height: 50px;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url("img/sl-arrow_l.svg") 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url("img/sl-arrow_r.svg") 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}

.slider__item {
	padding: 0px 15px;
}
.slider__item img{
	max-width: 100%;
}






